 
/* CSS Document */
 
.pad_LR_10
{
	padding-left:7px;
	padding-right:7px;	
}
.pad_L_10
{
	padding-left:10px;
}

.pad_L_200
{
	padding-left:200px;
}
.txt_tahoma
{
	font-family:Tahoma;
}
.txt_11
{
	font-size:11px;
}
.txt_12
{
	font-size:12px;
}
.txt_red
{
	color:#c70002;
}
.txt_dgray
{
	color:#505050;
}
.txt_blue
{
	color:#102091;
}
.textbox
{
	font-family: Arial, Helvetica, sans-serif;
	border: #CCCCCC solid 1px;
	padding-left: 2px;
	font-size: 12px;
	color: black;
	background: #E9E9E9;
}
.InputTxtOpt
{
	border: #CCCCCC solid 1px;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 2px;
	font-size: 12px;
}

.InputTxt
{
	background-position: #E9E9E9;
	font-family: Arial, Helvetica, sans-serif;
	border: #CCCCCC solid 1px;
	padding-left: 2px;
	font-size: 12px;
	color: black;
	background: #E9E9E9;
}
 
 .inputButton1
{
	border-color: #FF5050 #CC3300 #CC3300 #FF5050;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	height:25px;
	background-color: #660000;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: outset;
	border-right-style: outset;
	border-bottom-style: outset;
	border-left-style: outset;
	font-family: "MS Sans Serif" , Arial, "Times New Roman" , Verdana;
}
.inputButtonlnk
{
	border-style: none;
	border-color: #FF5050 #CC3300 #CC3300 #FF5050;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	height: 25px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	font-family: Arial, "Times New Roman" , Verdana;
}
select.selectbox1
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	border:#4e7191 solid 1px;
	width:128px;
}
select.selectbox20
{
	background-color: #FFCCCC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: #4e7191 solid 1px;
	width: 55px;
}
select.select_200
{
	background-color: #FFCCCC;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	border:#4e7191 solid 1px;
	width:255px;
}
select.selectbox
{
	border-right: #cccccc 1px solid;
	table-layout: fixed;
	border-top: #cccccc 1px solid;
	border-left: #cccccc 1px solid;
	width: 124px;
	border-bottom: #cccccc 1px solid;
}

.textarea
{
	background-color:#f4fca9;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	border:#4e7191 solid 1px;
	width:140px;
	height:55px;
}
.register {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #A91110;
}
.lbl12
{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #000000;
}
.lbl12White
{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #FFFFFF;
}


.lblRdo input[type="radio"]
{
    width: 20px;
    padding: 0;
    vertical-align: middle; 
        
}
        
.lblRdo label
{
	margin-right: 4px;
	white-space: nowrap;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}





.lbl13
{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: #FFFFFF;
}

.lblBlack
{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: #000000;
}

.Label10
{
	color: #660000;
	background-color: #FFFFFF;
	padding-left: 15px;
}


.ajax__calendar_title
{
width:auto 	
}