/* Common tags                 */
/*-----------------------------*/	
INPUT {
  BACKGROUND-COLOR: #ffffff;
  FONT-FAMILY: Arial, Helvetica, sans-serif;
  COLOR : #2E2526;
  FONT-SIZE: 8pt;
  FONT-WEIGHT: normal; 
}

TEXTAREA {
  BACKGROUND-COLOR: #FFFFFF;
  FONT-FAMILY: Arial, Helvetica, sans-serif;
  COLOR : #333333;
  FONT-SIZE: 8pt;
  FONT-WEIGHT: normal; 
}

.Tablenavi_10 { 
font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000; font-weight: bold; text-decoration: underline
}

.text_rolloverwhite {  
font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #FFFFFF; text-decoration: none;
}

.banner {
	color: ;
	background: ;
	background-color: ;
	border-bottom: 1px solid;
	border-bottom-color: ;
	margin: 0px;
	padding: 0px;
}

.Footer { 
font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: 7c7c7c; text-decoration: none
}

.Footerlink { 
font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: 4B7EF3; text-decoration: none
}

.clearing {
	clear: both;
}

div.bodycenter {
width : 990px ;
text-align : left ;
margin-left : auto ;
margin-right : auto ;
position : relative ;
}

#mainContent {
	padding: 0px;
}

.wpsPortletBody{
	margin: 0px;
	background-image:none;
}
	
.Progressprogress
{
    display: block;
    position: absolute;
    padding: 2px 3px;    
}

.ProgressContainer
{	
    border: solid 1px #808080;
    border-width: 0px 0px;	
    z-index: 99;		
}

.ProgressHeader
{
    background: url(../../Images/sprite.png) repeat-x 0px 0px;
    border-color: #808080 #808080 #ccc;
    border-style: solid;
    border-width: 1px 1px 1px;
    padding: 0px 10px;
    color: #000000;
    font-size: 9pt;
    font-weight: bold;
    line-height: 1.9;  
    font-family: arial,helvetica,clean,sans-serif;
    width: 230px;    
}

.ProgressBody
{
    background-color: #f2f2f2;
    border-color: #808080;
    border-style: solid;
    border-width: 1px 1px;
    padding: 10px;
    width: 230px;
}

.bodytext_8 { 
font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #575757
} 

body 
{
    font-family:Verdana;
    font-size:small;
    color:#000000;
    margin: 0;
    padding: 0; 
	text-align: left;
    margin-left : 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #ffffff;
	 
	 
 }

 
p
{
	line-height: 1.4em;
}

.title
{
    text-transform: uppercase;
    font-family: verdana;
    font-size: large;
    font-weight: bold;
    color: #41519A;
 }

hr {
	border: 0;
	border-top: 2px solid #41519A;
	height: 2px;
}

.img16
{
	border: 0px;
	height: 16px;	
}

.menutextindent
{
    font-size: x-small;
}

/* Headings                    */
/*-----------------------------*/


/* Tables                      */
/*-----------------------------*/	
 

 
.TableContent
{
	margin: 5px;
	padding: 3px;
	border-width: 1px;
	border-color: #CCCCFF;
}
table
{
	font-size: 1em;
	
}

.table1
{
	font-size: 1em;
	background-color: #FFFFFF;
}

.tableBorder
{
	border-style: outset solid groove solid;
	border-width: 1px;
	border-color: #660000;
	font-size: 1em;
}

table.header
{
	background-color: #990000;
	color: #FF9966;
	font-weight: bold;
}
lblHeader
{
	background-color: #990000;
	color: #FF9966;
	font-weight: bold;
}

td.logo
{
	text-align: left;
	width: 780px;
	height:119px;
	background-image: url(../images/logo.jpg);

}

td.title 
	{
		text-align: center;
		font-family: verdana;
		font-size: x-large;
		font-weight: bolder;
		color: #FFFFFF;
		width :780px;
		height:119px;
		background-image: url(../images/header.jpg);
	}
td.headerbar
{
	background-color:#990000;
	text-align: right;
	height: 24px;
	 
	 
	
}
td.menu
{
	background-color: #660000;
	width: 210px;
	height: 500px;
	vertical-align: top;
	border-bottom: #cc0000 thick outset;
	border-left: #cc0000 thick outset;
	border-top: #cc0000 thick outset;
	border-right: #cc0000 thick outset;
	border: thin inset #FFFFFF;
}

td.footer
{
	border-style: solid none none none;
	border-width: 1px;
	border-color: #990000;
	margin-left: 30;
	font-family: Verdana;
	font-size: xx-small;
	font-weight: normal;
	color: #41519A;
	text-align: right;
}

.inputField
{
	background-color: #ebe2cb;
	padding: 1px;
	font-size: 1em;
	font-family: "Trebuchet MS" , Verdana, helvetica, sans-serif;
	border: 1px solid #990000;
	color: #990000;
	background-color: #FFCCCC;
}

SELECT {
  BACKGROUND-COLOR: #ffffff;
  FONT-FAMILY: Arial, Helvetica, sans-serif;
  COLOR : #333333;
  FONT-SIZE: 8pt;
  FONT-WEIGHT: normal; 
}

.bodytext_8des { 
font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #03349A; font-weight: bold;
}

.inputButton
{
	background-color: #ebe2cb;
	border: 2px inset #FF3300;
	text-align:center;
	padding: 1px;
	font-size: 1em;
	font-family: "Trebuchet MS" , Verdana, helvetica, sans-serif;
	color: #e4c679;
	background-color: #7e0003;
	cursor:pointer;cursor:hand; 
}

 .contentlightwhite_verdana
{
	color:#F16969;
	font-family:Verdana;
}

.bold
{
	font-weight:bold;
}

.contentwhite_verdana
{
	color:#ffffff;
	font-family:Verdana;
}


.frag_register
{
	background-image:url(../images/rm_frag_register_bg_12.gif);
	background-repeat:no-repeat;
	background-position:center;
	width:439px;
	height:91px;
	margin-left:11px;
	margin-right:20px;
	background-color:#FFFFFF;
}

.frag_banner
{
	background-image:url(../images/rm_frag_white_bg.gif);
	background-repeat:no-repeat;
	background-position:center;
	width:475px;
	height:215px;
	 
}

.frag_register_form
{
	background-image:url(../images/rm_frag_register_form_bg.gif);
	background-repeat:no-repeat;
	background-position:center top;
	width:464px;
	height:346px;
	margin-right:3px;
	top:-8px;
	position:relative;
	 
}

.form_frag_class{ /*DIV that contains each sub menu*/
border:0px;
}


.MandatoryMsg
{
	font-family: Verdana;
	color: #FF0000;
	font-size: 12px;
}



.padd_L_7
{
	padding-left:7px;
}
.padd_LR_10
{
	padding-left:10px;
	padding-right:10px;
}
.padd_L_20
{
	padding-left:20px;
}
.padd_L_25{
	padding-left:25px;
}
.padd_L_30
{
	padding-left:30px;
}
.Width450{width:450px;}
.Width400{width:400px;}
.Width300{width:300px;}
.Width200{width:200px;}
.Width250{width:250px;}
.Width280{width:280px;}
.Width150{width:150px;}
.Width100{width:100px;}
.Width50{width:50px;}
.Width70{width:70px;}
.Width30{width:30px;}
.Width20{width:20px;}
.Width10{width:10px;}
.Width5{width:5px;}


.Height50{ height:50px;}
.Height100{ height:100px;}
.Height150{ height:150px;}
.Height200{ height:200px;}
.Height300{ height:300px;}
.Height400{ height:400px;}

.content_20{ font-size:20px;}
.content_12{font-size:12px;}
.fontsize10{font-size: 10px;}
.fontsize13{font-size: 13px;}
.fontsize15{font-size: 15px;}
.fontsize20{font-size: 20px;}

.Commentstext
{
	color: #666666;
	font-size: 11px;
	font-family: Arial,Verdana;
	font-weight: normal;
}

.CommentstextLarge
{
	color: #666666;
	font-size: 13px;
	font-family: Arial,Verdana;
	font-weight: normal;
}

.RedComments
{
	color: #FF0000;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;

}

.GreenComments
{
	color:Green;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;

}
	
	.TextMsg
{
	color: #666666;
	font-size: 15px;
	font-family: 'MS Sans Serif' ,Arial,Verdana;
	font-weight: bold;
}
 
 tableDot
{
	border: 1px dotted #660000;
	color: #FF9966;
}

 table.Mail
{
	border: 1px groove #FF0000;
	background-color: #990000;
	color: #FF9966;
}

th.TableHeader
{
	background-color: #660000;
	color: #FFFFFF;
	font-weight: bold;
}
table.RowShade
{
	border-style: solid none none none;
	border-top-width: 1px;
	border-top-color: #CC0000;
}

