.stepNotCompleted
{
	background-color: rgb(212, 212, 212);
	width: 150px;
	border: 1px solid rgb(153,153,153);
	margin-right: 5px;
	color: #660000;
	font-family: Arial;
	font-size: 12px;
	text-align: center;
}

.stepCompleted
{
	background-color: #D4D4D4;
	width: 150px;
	border: 1px solid #4d4d4d;
	color: #660000;
	font-family: Arial;
	font-size: 12px;
	text-align: center;
}

.stepCurrent
{
    background-color: #e01122;
    width: 150px;
    border: 1px solid #e01122;
    color: White;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.stepBreak
{
    width: 3px;
    background-color: Transparent;
}

.wizardProgress
{
	padding-right: 10px;
	font-family: Arial;
	color: #990000;
	font-size: 12px;
}

.wizardTitle
{
	font-family: Arial;
	font-size: 120%;
	font-weight: bold;
	color: #660000;
	vertical-align: middle;
}