{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block meta_title %}{% trans "Password Reset" %}{% endblock %}

{% block main %}

    <h1>{% trans "Password Reset" %}</h1>
    <div class="span8">
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        
        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
        
        <form method="POST" action="" class="password_reset">
            {% csrf_token %}
              <fieldset>
                  {% for field in password_reset_form %}
                    {% if field.errors %}
                    <div class="control-group error">
                        <label class="control-label">{{ field.label }}</label> 
                        <div class="controls">{{ field }}
                            <span class="help-inline">
                                {% for error in  field.errors %}{{ error }}{% endfor %}
                            </span>
                        </div>
                    </div>
                    {% else %}
                        {% if field.label != 'Confirmation key' %}
                        <div class="control-group">
                            <label class="control-label">{{ field.label }}</label>
                            <div class="controls">{{ field }}
                                {% if field.help_text %}
                                <p class="help-inline"><small>{{ field.help_text }}</small></p>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    {% endif %}
                  {% endfor %}
              </fieldset>

            <input type="submit" value="{% trans "Reset My Password" %}" />
        </form>
        
        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}

