{% extends "upload/base.html" %}

{% load i18n staticfiles %}
{% load url from future  %}
{% load youtube_embed_url %}
{% load randomize %}

{% block meta_title %}{% trans "Upload" %}{% endblock %}

{% block main %}

<h1>{% if request.path == '/upload/' %}{% trans "Uploaded Trees" %}{% else %}{% trans "Search Trees" %}{% endif %}</h1>
    {% if request.path == '/upload/search/' %}
    <div class="nav-collapse collapse span11">
	    <form action="{% url "upload_search" %}" class="navbar-search input-append">
            <input class="search-query-upload" placeholder="{% trans "Search" %}"
                    type="text" id="query" name="query" value="{{ request.REQUEST.query }}">
            <input type="submit" class="btn" value="Go">
            </form>
    </div>
    {% endif %}
		<!-- List of uploaded documents -->
		<table class="table">
		    <thead>
		    <tr>
		        <th>File Name</th>
		        <th>Rating</th>
		        <th>Uploader</th>
		        <th>Description</th>
		        <th>Date Uploaded</th>
		        <th>Download Count</th>
		        <th>&nbsp;</th>
		        <th>&nbsp;</th>
		        {% comment %}<th>JSON</th>{% endcomment %}
		    </thead>
		{% if documents %}
		    <tbody>
			{% for document in documents %}
			<tr>
				<td><a href="{% url 'locate' %}?location={{ document.id | randomize }}">{{ document.docfile.name | clean_file_name }}</a></td>
				{% if user.is_authenticated %}
				<td style="white-space: nowrap;">
				    <a href="{% url 'vote' %}?votee={{ document.id | randomize }}&verdict=yeah"><img id="like-img-id" src="{% static "img/up.png" %}" width="10" height="20" alt="Vote Up"></a>
				    {{ document.up_vote|add:document.down_vote }}
				    <a href="{% url 'vote' %}?votee={{ document.id | randomize }}&verdict=boo"><img id="like-img-id" src="{% static "img/down.png" %}" width="10" height="20" alt="Vote Down"></a>
				</td>
				{% else %}
				<td style="white-space: nowrap;">
				    {{ document.up_vote|add:document.down_vote }}
				</td>
				{% endif %}
				<td>{{ document.uploader }}</td>
				<td>{{ document.description | youtube_embed_url | safe }}</td>
				<td>{{ document.date_uploaded }}</td>
				<td>{{ document.download_count }}</td>
			    {% if user.is_authenticated and user.is_staff or user == document.uploader and request.path == '/upload/' %}				
				<td><a href="{% url 'upload_edit' document.id  %}"><span style="color: green">Edit</span></a></td>
				<td><a href="{% url 'upload_delete' document.id  %}"><span style="color: red">Delete</span></a></td>
                {% endif %}
				{% comment %}<td><a href="{% url 'send_json' %}?row={{ document.id | randomize }}">JSON</a></td>{% endcomment %}
			</tr>
		    {% endfor %}
		{% else %}
		    <tr>
			    <td colspan="4">{% trans "No documents." %}</td>
			</tr>
			</tbody>
		{% endif %}
        </table>

        <div class="pagination">
            <span class="step-links">
                {% if documents.has_previous %}
                    <a href="?page={{ documents.previous_page_number }}"><<</a>
                {% endif %}
                <span class="current">
                    Showing {{ documents.start_index }} to {{ documents.end_index }} of {{ documents.paginator.count }} entries.
                </span>

                {% if documents.has_next %}
                    <a href="?page={{ documents.next_page_number }}">>></a>
                {% endif %}
             </span>
        </div>

        {% if user.is_authenticated and request.path == "/upload/" %}
        <h2>Upload a Tree</h2>
		<!-- Upload form. Note enctype attribute! -->
		<form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<p>{{ form.non_field_errors }}</p>
			<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
			<p>
				{{ form.docfile.errors }}
				{{ form.docfile }}
            </p>
            <p>{{ form.docdesc.label_tag }} {{ form.docdesc.help_text }}</p>
            <p>{{ form.docdesc }}</p>
		    <p><input type="submit" value="{% trans 'Upload' %}" /></p>
		</form>
		{% endif %}
{% endblock %}

