{% extends "account/base.html" %}

{% load i18n %}
{% load url from future %}

{% block meta_title %}{% trans "Upload" %}{% endblock %}

{% block main %}

<h1>{% trans "Trees" %}</h1>
    <div class="nav-collapse collapse">
	    <form action="{% url "upload_search" %}" class="navbar-search pull-right input-append">
            <input class="search-query" placeholder="{% trans "Search" %}" 
                    type="text" id="query" name="query" value="{{ request.REQUEST.query }}">
            </form>
    </div>
		<!-- List of uploaded documents -->
		<table class="table">
		    <thead>
		    <tr>
		        <th>File Name</th>
		        <th>Uploader</th>
		        <th>Description</th>
		        <th>Date Uploaded</th>
		    </thead>
		{% if documents %}
		    <tbody>
			{% for document in documents %}
			<tr>
				<td><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></td> 
				<td>{{ document.uploader }}</td>
				<td>{{ document.description }}</td>
				<td>{{ document.date_uploaded }}</td>
			</tr>
		    {% endfor %}
		{% else %}
		    <tr>
			<td colspan="4">{% trans "No documents." %}</td>
			</tr>
			</tbody>
		{% endif %}
        </table>
        {% if user.is_authenticated %}
		<!-- Upload form. Note enctype attribute! -->
		<form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<p>{{ form.non_field_errors }}</p>
			<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
			<p>
				{{ form.docfile.errors }}
				{{ form.docfile }}
			</p>

            {% if request.REQUEST.query and request.REQUEST.query.strip %}
            {% else %}
			<p><input type="submit" value="{% trans 'Upload' %}" /></p>
            {% endif %}
		</form>
		{% endif %}
{% endblock %}

