{% extends "account/base.html" %}

{% load i18n %}
{% load url from future %}
{% load youtube_embed_url %}
{% load randomize %}

{% block meta_title %}{% trans "Upload" %}{% endblock %}

{% block main %}

<h1>{% if request.path == '/upload/' %}{% trans "My Trees" %}{% else %}{% trans "Search Trees" %}{% endif %}</h1>
    {% if request.path == '/upload/search/' %}
    <div class="nav-collapse collapse span8 middle">
	    <form action="{% url "upload_search" %}" class="navbar-search input-append">
            <input class="search-query-upload" placeholder="{% trans "Search" %}" 
                    type="text" id="query" name="query" value="{{ request.REQUEST.query }}">
            <input type="submit" class="btn" value="Go">
            </form>
    </div>
    {% endif %}
		<!-- List of uploaded documents -->
		<table class="table">
		    <thead>
		    <tr>
		        <th>File Name</th>
		        <th>Uploader</th>
		        <th>Description</th>
		        <th>Date Uploaded</th>
		        <th>Download Count</th>
		    </thead>
		{% if documents %}
		    <tbody>
			{% for document in documents %}
			<tr>
			    {% if user.is_authenticated and user.is_staff or user == document.uploader and request.path == '/upload/' %}
				<td><a href="{% url 'locate' %}?location={{ document.id | randomize }}">{{ document.docfile.name  }}</a></td>			   
			    {% else %}
				<td><a href="{% url 'locate' %}?location={{ document.id | randomize }}">{{ document.docfile.name | clean_file_name }}</a></td>
				{% endif %}
				<td>{{ document.uploader }}</td>
				<td>{{ document.description | youtube_embed_url | safe }}</td>
				<td>{{ document.date_uploaded }}</td>
				<td>{{ document.download_count }}</td>
			</tr>
		    {% endfor %}		    
		{% else %}
		    <tr>
			    <td colspan="4">{% trans "No documents." %}</td>
			</tr>
			</tbody>
		{% endif %}
        </table>
        
        <div class="pagination">
            <span class="step-links">
                {% if documents.has_previous %}
                    <a href="?page={{ documents.previous_page_number }}"><<</a>
                {% endif %}
                <span class="current">
                    Showing {{ documents.start_index }} to {{ documents.end_index }} of {{ documents.paginator.count }} entries.
                </span>

                {% if documents.has_next %}
                    <a href="?page={{ documents.next_page_number }}">>></a>
                {% endif %}
             </span>
        </div>
        
        {% if user.is_authenticated and request.path == "/upload/" %}
        <h2>Upload a Tree</h2>
		<!-- Upload form. Note enctype attribute! -->
		<form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<p>{{ form.non_field_errors }}</p>
			<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
			<p>
				{{ form.docfile.errors }}
				{{ form.docfile }}
            </p>
            <p>{{ form.docdesc.label_tag }} {{ form.docdesc.help_text }}</p>
            <p>{{ form.docdesc }}</p>
		    <p><input type="submit" value="{% trans 'Upload' %}" /></p>
		</form>
		{% endif %}
{% endblock %}

